
footer.appFooter{
  display: flex;
  padding-top: 63px;
  background-color: #1d1d1e;
  justify-content: space-around;
  align-content: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 322px;
  max-width: 1440px;
  .main{
    height: 100%;
    display: grid;
    align-content: space-between;
    .icon{
      display: flex;
      align-items: flex-end;
      max-width: 90%;
    }
    .socials{
      width: 115px;
      max-width: 90%;
      display: flex;
      justify-content: space-between;
    }
    .copyright{
        font-size: 16px;
        font-weight: 400;
        color: #f7f7f7;
        margin-bottom: 37px;
        color: #f1f3f9;
    }
  }
  .guides{
    display: flex;
    justify-content: space-between;
    max-width: 698px;
    width: 48.47%;
    height: 169px;
    gap: 15.07%;
    color: #f1f3f9;
    h4{
      font-weight: 700;
      font-size: 18px;
      line-height: 22.48px;
      height: 22px;
      color: #ffffff;
    }
    ul{
      width: 100%;
      li{
        list-style-type: none;
        width: 95px;
        font-weight: 400;
        size: 14px;
        line-height: 35px;
      }
    }
  }
  @media screen and (max-width: 760px) {
    flex-direction: column;
    height: 380px;
    .main{
      width: 90%;
      padding-left: 10px;
      .icon{
        margin: 15px;
      }
      .socials{
        margin: 15px;
      }
      .copyright{
        margin: 5px;
      }
    }
    .guides{
      width: 95%;
      margin: 0 auto;
      @media screen and (max-width: 386px) {
        gap: 2%;
      }
    }
  }
}
