
header{
  height: 48px;
  width: 86.11%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 43px;
  .icon{
    max-width: 233px;
    width: 18.7%;
    min-width: 100px;
    padding: 0;
    height: 36.67px;
    margin-top: 3.67px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    .home{
      max-width: 41.99px;
      width: 18.02%;
      
    }
    .metaBnB{
      max-width: 188.1px;
      width: 80.72%;
      
    }
  }
  nav{
    max-width: 626px;
    width: 50.48%;
    height: 23px;
    display: flex;
    margin-top: 15px;
    align-items: flex-end;
    @media screen and (max-width:400px) {
      display: none;
    }
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      li{
        list-style-type: none;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Red Rose';
        line-height: 25px;
        color: #434343;
        margin-left: 48px;
        cursor: pointer;
      }
    }
  }
  button{
    max-width: 170px;
    width: 13.71%;
    min-width: 120px;
    height: 48px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
  }
}