@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

section.sponsors{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-top: 67px;
  width: 100%;
  max-width: 1440px;
  background-image: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-family: 'Poppins';
      font-size: 40px;
    }
    &.mbtoken p{
      font-weight: 700;
      line-height: 27.28px;
      
    }
    
    &.metamask p{
      font-weight: 500;
      line-height: 27.28px;
    }
    &.opensea p{
      font-weight: 700;
    }
    @media screen and (max-width: 875px) {
     & p{
      font-size: 30px;
      @media screen and (max-width: 685px) {
        font-size: 25px;
      }
    } 
    @media screen and (max-width: 561px) {
      & img{
        width: 24px;
      }
      & p{
        font-size: 13px;
      }
    }
  }
  }
}